.ticket-container {
    position: relative;
    width: 100%;
    max-width: 42rem;
    background-color: white;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    max-height: 90vh;
    box-sizing: border-box;
}

.message {
    width: 100%;
    min-height: 25vh;
    padding: 0.75rem 1rem;
    border: 2px solid #e5e7eb;
    border-radius: 0.75rem;
    font-size: 1rem;
    transition: all 0.2s;
    outline: none;
    resize: none;
    font-family: inherit;
    box-sizing: border-box;
    text-align: start;
}