.account-modal-container {
    position: relative;
    width: 100%;
    max-width: 42rem;
    background-color: white;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    max-height: 90vh;
}

.success-message {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
}

.success-message p {
    font-size: larger;
}

.application-icon {
    color: #059669;
}